
<section class="section">
<div class="columns is-multiline">
  {% for key, item in __SELF__.links %}
  <div class="column is-one-quarter">
      <div class="card layout-card">
        <div class="card-image">
          <figure class="image is-4by3">
            <a href="{{ item.pageUrl }}">
                <img src="{{item.imageUrl}}" alt="{{ item.title }}" {% if item.title %}title="{{ item.title }}"{% endif %}>
            </a>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ item.title }}</p>
              {% if item.phone %}
                  <p class="subtitle is-6">{{ item.phone|raw }}</p></p>
              {% endif %}
            </div>
          </div>

          <div class="content">
            {% if item.description %}
                {{ str_limit(item.description, 100) }}<br>
            {% endif %}

            {% if item.link %}
              <a{% if item.target %} target="_blank"{% endif %} href="{{ item.link }}">
                {{ 'ksoft.links::lang.components.visit_website' | trans }}
              </a><br>
            {% endif %}
            <small>posted {{ item.created_at|date('F Y') }} in <a href="{{ item.category.pageUrl }}">{{ item.category.name }}</a></small>
          </div>
        </div>
      </div>
  </div>
  {% endfor %}
</div>

</section>

<style media="screen">
  .layout-card{
    display: inline; float: left; margin-right: 12px;
  }
  section {margin-top: 42px;}
</style>
