<div class="container m-t-lg">
    <div class="row">
        <ul class="nav nav-pills">
            <li role="presentation"{{ selectedCat == '' ?  'class="active"' }}>
              <a href="{{ catListPage|page({ selected_cat: '' }) }}">All categories</a>
            </li>
            {% for cat in cats %}
                <li role="presentation"{{ selectedCat == cat.slug ?  'class="active"' }}>
                    <a href="{{ catListPage|page({ selected_cat: cat.slug }) }}">{{cat.name}}</a>
                </li>
            {% endfor %}
        </ul>
        <hr />
    </div>
    <div class="row">
        {% for item in __SELF__.links %}
            {% if listTemplate == 'list' %}
                {% partial '@layout_list' item=item %}
            {% elseif listTemplate == 'card' %}
                {% partial '@layout_card' item=item %}
            {% else %}
                {% partial '@layout_plain' item=item %}
            {% endif %}
        {% endfor %}
    </div>

    {% if __SELF__.links.lastPage > 1 %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="pagination">
                {% if __SELF__.links.currentPage > 1 %}
                <li><a href="{{ this.page.baseFileName|page({ page: (__SELF__.links.currentPage - 1) }) }}">&larr; Prev</a></li>
                {% endif %}

                {% for page in 1..__SELF__.links.lastPage %}
                <li class="{{ __SELF__.links.currentPage == page ? 'active' : null }}">
                    <a href="{{ this.page.baseFileName|page({ page: page }) }}">{{ page }}</a>
                </li>
                {% endfor %}

                {% if __SELF__.links.lastPage > __SELF__.links.currentPage %}
                <li><a href="{{ this.page.baseFileName|page({ page: (__SELF__.links.currentPage + 1) }) }}">Next &rarr;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
