<div class="container m-t-lg">
    <div class="row">
        {% for item in __SELF__.links %}
            <div class="col-lg-4">
                <div class="icon-block center-align">
                    {% if item.link %}
                        <a {% if item.target %}target="_blank"{% endif %} href="{{ item.link }}" class="blue-grey-text">www</a>
                    {% endif %}
                    {% if item.image %}
                        <img class="img-responsive img-circle " src="/storage/app/media{{ item.image }}" alt="{{ item.title }}" {% if item.title %}title="{{ item.title }}"{% endif %}>
                    {% endif %}
                    <a href="{{ item.pageUrl }}">
                        <h5 class="center">{{ item.title }}</h5>
                    </a>
                    <small>posted {{ item.created_at|date('F Y') }} in <a href="{{ item.category.pageUrl }}">{{ item.category.name }}</a></small>
                    {% if item.phone %}
                    <p>
                        {{ item.phone|raw }}
                    </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if __SELF__.links.lastPage > 1 %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="pagination">
                {% if __SELF__.links.currentPage > 1 %}
                <li><a href="{{ this.page.baseFileName|page({ page: (__SELF__.links.currentPage - 1) }) }}">&larr; Prev</a></li>
                {% endif %}

                {% for page in 1..__SELF__.links.lastPage %}
                <li class="{{ __SELF__.links.currentPage == page ? 'active' : null }}">
                    <a href="{{ this.page.baseFileName|page({ page: page }) }}">{{ page }}</a>
                </li>
                {% endfor %}

                {% if __SELF__.links.lastPage > __SELF__.links.currentPage %}
                <li><a href="{{ this.page.baseFileName|page({ page: (__SELF__.links.currentPage + 1) }) }}">Next &rarr;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
