<div class="card" style="width: 20rem;">
  <a href="{{ item.pageUrl }}">
      <img class="card-img-top" src="{{item.imageUrl}}" alt="{{ item.title }}" {% if item.title %}title="{{ item.title }}"{% endif %}>
  </a>
  <div class="card-block">
    <h4 class="card-title">{{ item.title }}</h4>
    {% if item.description %}
        <p class="card-text">{{ str_limit(item.description, 100) }}</p>
    {% endif %}
    {% if item.phone %}
        <p>
            {{ item.phone|raw }}
        </p>
    {% endif %}
    <small>posted {{ item.created_at|date('F Y') }} in <a href="{{ item.category.pageUrl }}">{{ item.category.name }}</a></small>
    {% if item.link %}
        <a{% if item.target %} target="_blank"{% endif %} href="{{ item.link }}"  class="btn btn-primary"><?php _e(trans('ksoft.links::lang.components.visit_website'))?></a>
    {% endif %}
  </div>
</div>
