{% set item = __SELF__.linkItem %}
<div class="container m-t-lg">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive " src="{{ item.imageUrl }}" alt="{{ item.title }}" {% if item.title %}title="{{ item.title }}"{% endif %}>
        </div>
        <div class="col-lg-8">
            <h2>{{ item.title }}</h2>
            <small>{{ item.created_at|date('F Y') }} in <a href="{{ item.category.pageUrl }}">{{ item.category.name }}</a></small>
            <p>{{ item.description|raw }}</p>
            {% if item.link %}
                <a href="{{ item.link }}" class="btn btn-default" {% if item.target %}target="_blank"{% endif %}>
                    {{ 'ksoft.links::lang.components.visit_website' | trans }}
                </a>
            {% endif %}
            {% if item.phone %}
                <a href="tel:{{ item.phone }}" class="btn btn-default" target="_blank">{{item.phone}}</a>
            {% endif %}
        </div>
    </div>
</div>
